<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/application_name">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.termux.app.activities.HelpActivity"
            android:exported="false"
            android:label="@string/application_name"
            android:parentActivityName="com.termux.app.TermuxActivity"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.termux.action.OPEN_HELP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.termux.app.activities.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_termux_settings"
            android:theme="@style/Theme.TermuxApp.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="com.termux.action.OPEN_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
